<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{% static 'img/favico.ico' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>{% trans "TalantDev | Backend Programmer" %}</title>
</head>
<body>

<header class="active">
    <a href="{% url 'main:welcome' %}" class="logo">{% trans "TalantDev" %}</a>

    <i class="bx bx-menu" id="menu-icon"></i>

    <nav>
        <a href="{% url 'main:welcome' %}">{% trans "Home" %}</a>
        <a href="{% url 'main:services' %}">{% trans "Services" %}</a>
        <a href="{% url 'main:resume' %}">{% trans "Resume" %}</a>
        <a href="{% url 'main:portfolio' %}" class="active">{% trans "Portfolio" %}</a>
        <a href="{% url 'main:contact' %}">{% trans "Contact" %}</a>


    </nav>
    <div class="dropdowns">
        <span id="lang">
            <img src="{% static '/img/uz.png' %}" alt="" width="30">
            {% trans "Uz" %}
        </span>
        <div class="dropdown-content">
            <p>
                <a href="{% trans '/first/' %}" class="active dropdown">
                    <img src="{% static '/img/uk.png' %}" alt="" width="30">
                    {% trans "first_lan" %}
                </a>
            </p>
            <p>
                <a href="{% trans '/second/' %}" class="active dropdown">
                    <img src="{% static '/img/ru.png' %}" alt="" width="30">
                    {% trans "second_lan" %}
                </a>
            </p>
        </div>
    </div>

</header>

<div class="bars-box active">
    <div class="bar" style="--i:6;"></div>
    <div class="bar" style="--i:5;"></div>
    <div class="bar" style="--i:4;"></div>
    <div class="bar" style="--i:3;"></div>
    <div class="bar" style="--i:2;"></div>
    <div class="bar" style="--i:1;"></div>
</div>

<section class="portfolio active">
    <h2 class="heading">
        {% trans "Latest" %}
        <span>
            {% trans "Project" %}
        </span>
    </h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <div class="portfolio-detail active">
                <p class="numb">
                    01
                </p>
                <h3>
                    Backend Project
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque dolores iste iure nemo
                    sapiente sequi similique veritatis.
                </p>
                <div class="tech">
                    <p>
                        HTML5, CSS3, Python
                    </p>
                </div>
                <div class="live-github">
                    <a href="#">
                        <i class="bx bx-arrow-back"></i>
                        <span>
                            {% trans "Live Project" %}
                        </span>
                    </a>
                    <a href="#">
                        <i class="bx bxl-github"></i>
                        <span>
                            {% trans "GitHub Repository" %}
                        </span>
                    </a>
                </div>
            </div>

        </div>
        <div class="portfolio-box">
            <div class="portfolio-carousel">
                <div class="img-slide">
                    <div class="img-item">
                        <img src="./img/portfolio1.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="navigation">
                <button class="arrow-left disabled">
                    <i class="bx bx-chevron-left"></i>
                </button>
                <button class="arrow-right">
                    <i class="bx bx-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
